@model ViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Opportunities</title>
    <link href="~/css/Style/StyleSheet2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class=" container">
        <h1 class="title">Manage Opportunities</h1>
        <form asp-action="SearchOpp" method="post">
            <input asp-for="SearchString" placeholder="Search..." />
            <button class="button" type="submit">Search</button>
        </form>
        <form asp-action="FilterOpp" method="post">
            <select class="dropdown" asp-for="FilterString">
                <option value="" disabled selected>Select Filter</option>
                <option value="recent">Most Recent (60 days)</option>
                <option value="Environment">Environmental Center</option>
                <option value="Food/Supply">Food/Supply Center</option>
                <option value="Care">Care Center</option>
                <option value="Learn">Learning Center</option>
                <option value="Media">Media Center</option>
            </select>
            <button class="button" type="submit">Filter</button>
        </form>
        <table id="table">
            <thead>
                <tr>
                    <th colspan="3">Opportunities</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model.Opportunities)
                {
                    <tr>
                        <td>
                            <details>
                                <summary>
                                    <a class="btn-link" asp-action="MatchOpp" asp-route-center="@o.Center">@o.Title</a>
                                    <input type="hidden" value="@o.Center"/>
                                </summary>
                                <p>@o.Description</p>
                            </details>
                        </td>

                        <td style="text-align:center; width: 20%">
                            <a asp-action="EditOpportunity" class="btn btn-sm btn-warning" asp-route-opportunityId="@o.OpportunityID">Edit</a>
                            <input type="hidden" name="OpportunityID" value="@o.OpportunityID" />
                        </td>
                        <td style="text-align:center; width: 10%">
                            <form asp-action="Delete" method="post">
                                <input type="hidden" name="OpportunityID" value="@o.OpportunityID" />
                                <button style="color:red; font-size:18px; font-weight:bold" type="submit" class="btn btn-danger btn-sm">X</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="add">
            <a asp-action="CreateOpportunity" class="addbutton">Add Opportunity</a>
        </div>
        <div class="back">
            <a asp-controller="Home" asp-action="AdminHome" asp-route-username="Username" class="backbutton">Back</a>
        </div>
    </div>
</body>
</html>
