@model ViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Volunteers</title>
    <link href="~/css/Style/StyleSheet2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h1 class="title">Manage Volunteers</h1>
        <form asp-action="SearchVol" method="post">
            <input asp-for="SearchString" placeholder="Search..." />
            <button class="button" type="submit">Search</button>
        </form>
        <form asp-action="FilterVol" method="post">
            <select class="dropdown" asp-for="FilterString">
                <option value="" disabled selected>Select Filter</option>
                <option value="Approved/Pending">Approved/Pending Approval</option>
                <option value="Approved">Approved</option>
                <option value="Pending">Pending Approval</option>
                <option value="Disapproved">Disapproved</option>
                <option value="Inactive">Inactive</option>
                <option value="Approved/Pending/Disapproved/Inactive">All</option>
            </select>
            <button class="button" type="submit">Filter</button>
        </form>
        <a asp-action="ManageVolunteer" method="get">Reset</a>
        <table id="table">
            <thead>
                <tr>
                    <th colspan="2">Volunteers</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var v in Model.Volunteers)
                {
                    <tr>
                        <td>
                            <a class="name" asp-action="MatchVol" asp-route-center="@v.CentersPreferred">@v.FirstName @v.LastName</a>
                            <input type="hidden" value="@v.CentersPreferred"/>
                        </td>
                        <td style="text-align:center; width: 20%">
                            <a class="edit" asp-action="EditVolunteer" asp-route-volunteerId="@v.VolunteerID">Edit</a>
                            <input type="hidden" value="@v.VolunteerID"/>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="add">
            <a class="addbutton" asp-action="CreateVolunteer">Add Volunteer</a>
        </div>
        <div class="back">
            <a asp-controller="Home" asp-action="AdminHome" asp-route-username="Username" class="backbutton">Back</a>
        </div>
    </div>
</body>
</html>
